In [1]:
import os
import cv2
import numpy as np
import pandas as pd

In [2]:
labelsList = os.listdir('potholes\\labelsNew')
imagesList = os.listdir('potholes\\images')

In [3]:
labelsDf=pd.DataFrame(labelsList,columns=['fnames'])
labelsDf

            fnames
0     00c9sdfq.txt
1     00yf8rxj.txt
2     01lx7dej.txt
3     01paoyy0.txt
4     02oxhx7t.txt
...            ...
3072  zxfhwbki.txt
3073  zy7m9c8x.txt
3074  zynixpux.txt
3075  zyylqfs0.txt
3076  zzvom0ax.txt

[3077 rows x 1 columns]

In [4]:
Npotholes=pd.read_csv('potholes\\detectResults.txt',sep=' ',header=None)
Npotholes=Npotholes.drop([0,1,3,5,6],axis=1)
Npotholes.columns=['fnames','Npotholes']
Npotholes['fnames']=Npotholes['fnames'].str.split('\\').str[-1]
Npotholes['Npotholes']=Npotholes['Npotholes'].str.replace('(','')
Npotholes['fnames']=Npotholes['fnames'].str.replace(':','')
Npotholes

            fnames Npotholes
0     00c9sdfq.jpg         2
1     00yf8rxj.jpg         1
2     01lx7dej.jpg         1
3     01paoyy0.jpg         1
4     02oxhx7t.jpg         1
...            ...       ...
3940  zynixpux.jpg         3
3941  zyylqfs0.jpg         1
3942  zzhe6767.jpg        no
3943  zzipq9zn.jpg        no
3944  zzvom0ax.jpg         1

[3945 rows x 2 columns]

In [5]:
Npotholes['Npotholes']=Npotholes['Npotholes'].str.replace('no','0')
Npotholes['Npotholes']=Npotholes['Npotholes'].astype('int')
Npotholes

            fnames  Npotholes
0     00c9sdfq.jpg          2
1     00yf8rxj.jpg          1
2     01lx7dej.jpg          1
3     01paoyy0.jpg          1
4     02oxhx7t.jpg          1
...            ...        ...
3940  zynixpux.jpg          3
3941  zyylqfs0.jpg          1
3942  zzhe6767.jpg          0
3943  zzipq9zn.jpg          0
3944  zzvom0ax.jpg          1

[3945 rows x 2 columns]

In [6]:
data=pd.DataFrame(columns=['Type','置信度','x1','y1','x2','y2','fnames'])
data

Empty DataFrame
Columns: [Type, 置信度, x1, y1, x2, y2, fnames]
Index: []

In [7]:
for i in labelsList:
    with open('potholes\\labelsNew\\'+i, 'r') as f:
        content = f.readlines()
        lb = np.array([x.strip().split() for x in content], dtype=np.float32)  # labels
        lb = pd.DataFrame(lb, columns=['Type','置信度', 'x1', 'y1', 'x2', 'y2'])
        lb['fnames'] = i

    data = data._append(lb, ignore_index=True)

data

D:\TempS\ipykernel_2696\55922189.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = data._append(lb, ignore_index=True)

,Type,置信度,x1,y1,x2,y2,fnames
0,0.0,0.783255,54.144627,119.418549,127.293488,149.223495,00c9sdfq.txt
1,0.0,0.727551,86.166367,92.886162,143.883499,117.423920,00c9sdfq.txt
2,0.0,0.685144,0.000000,268.575745,714.198425,439.384949,00yf8rxj.txt
3,0.0,0.345122,723.983704,628.620300,1671.653564,1621.744507,01lx7dej.txt
4,0.0,0.447922,62.188206,54.767998,338.213837,239.532608,01paoyy0.txt
...,...,...,...,...,...,...,...
5638,0.0,0.728894,148.958481,93.340202,351.673981,133.142395,zynixpux.txt
5639,0.0,0.342068,74.099251,111.328697,135.102081,137.752304,zynixpux.txt
5640,0.0,0.266729,55.626934,116.560684,126.989532,136.572723,zynixpux.txt
5641,0.0,0.829763,645.354004,481.915741,1075.006836,717.232178,zyylqfs0.txt
5642,0.0,0.711966,0.000822,369.854126,1447.335327,984.154907,zzvom0ax.txt

In [8]:
data=data.drop('Type',axis=1)
data=data[['fnames','置信度','x1','y1','x2','y2']]
data['fnames']=data['fnames'].str.replace('.txt','.jpg')
data

            fnames       置信度          x1          y1           x2           y2
0     00c9sdfq.jpg  0.783255   54.144627  119.418549   127.293488   149.223495
1     00c9sdfq.jpg  0.727551   86.166367   92.886162   143.883499   117.423920
2     00yf8rxj.jpg  0.685144    0.000000  268.575745   714.198425   439.384949
3     01lx7dej.jpg  0.345122  723.983704  628.620300  1671.653564  1621.744507
4     01paoyy0.jpg  0.447922   62.188206   54.767998   338.213837   239.532608
...            ...       ...         ...         ...          ...          ...
5638  zynixpux.jpg  0.728894  148.958481   93.340202   351.673981   133.142395
5639  zynixpux.jpg  0.342068   74.099251  111.328697   135.102081   137.752304
5640  zynixpux.jpg  0.266729   55.626934  116.560684   126.989532   136.572723
5641  zyylqfs0.jpg  0.829763  645.354004  481.915741  1075.006836   717.232178
5642  zzvom0ax.jpg  0.711966    0.000822  369.854126  1447.335327   984.154907

[5643 rows x 6 columns]

In [9]:
data=pd.merge(data,Npotholes,on='fnames',how='right')
data

,fnames,置信度,x1,y1,x2,y2,Npotholes
0,00c9sdfq.jpg,0.783255,54.144627,119.418549,127.293488,149.223495,2
1,00c9sdfq.jpg,0.727551,86.166367,92.886162,143.883499,117.423920,2
2,00yf8rxj.jpg,0.685144,0.000000,268.575745,714.198425,439.384949,1
3,01lx7dej.jpg,0.345122,723.983704,628.620300,1671.653564,1621.744507,1
4,01paoyy0.jpg,0.447922,62.188206,54.767998,338.213837,239.532608,1
...,...,...,...,...,...,...,...
6506,zynixpux.jpg,0.266729,55.626934,116.560684,126.989532,136.572723,3
6507,zyylqfs0.jpg,0.829763,645.354004,481.915741,1075.006836,717.232178,1
6508,zzhe6767.jpg,NaN,NaN,NaN,NaN,NaN,0
6509,zzipq9zn.jpg,NaN,NaN,NaN,NaN,NaN,0
6510,zzvom0ax.jpg,0.711966,0.000822,369.854126,1447.335327,984.154907,1

In [10]:
potholesImages=pd.DataFrame(imagesList,columns=['fnames'])
potholesImages

            fnames
0     00c9sdfq.jpg
1     00yf8rxj.jpg
2     01lx7dej.jpg
3     01paoyy0.jpg
4     02oxhx7t.jpg
...            ...
3940  zynixpux.jpg
3941  zyylqfs0.jpg
3942  zzhe6767.jpg
3943  zzipq9zn.jpg
3944  zzvom0ax.jpg

[3945 rows x 1 columns]

In [11]:
for i in imagesList:
    img = cv2.imread('potholes\\images\\'+i)
    height, width, channels = img.shape
    potholesImages.loc[potholesImages['fnames']==i,'height']=height
    potholesImages.loc[potholesImages['fnames']==i,'width']=width
    
potholesImages

            fnames  height   width
0     00c9sdfq.jpg   259.0   194.0
1     00yf8rxj.jpg   450.0   800.0
2     01lx7dej.jpg  3264.0  2448.0
3     01paoyy0.jpg   300.0   447.0
4     02oxhx7t.jpg   240.0   420.0
...            ...     ...     ...
3940  zynixpux.jpg   300.0   481.0
3941  zyylqfs0.jpg   816.0  1200.0
3942  zzhe6767.jpg   555.0   986.0
3943  zzipq9zn.jpg   300.0   463.0
3944  zzvom0ax.jpg  1080.0  1623.0

[3945 rows x 3 columns]

In [12]:
data=pd.merge(data,potholesImages,on='fnames',how='left')
data

,fnames,置信度,x1,y1,x2,y2,Npotholes,height,width
0,00c9sdfq.jpg,0.783255,54.144627,119.418549,127.293488,149.223495,2,259.0,194.0
1,00c9sdfq.jpg,0.727551,86.166367,92.886162,143.883499,117.423920,2,259.0,194.0
2,00yf8rxj.jpg,0.685144,0.000000,268.575745,714.198425,439.384949,1,450.0,800.0
3,01lx7dej.jpg,0.345122,723.983704,628.620300,1671.653564,1621.744507,1,3264.0,2448.0
4,01paoyy0.jpg,0.447922,62.188206,54.767998,338.213837,239.532608,1,300.0,447.0
...,...,...,...,...,...,...,...,...,...
6506,zynixpux.jpg,0.266729,55.626934,116.560684,126.989532,136.572723,3,300.0,481.0
6507,zyylqfs0.jpg,0.829763,645.354004,481.915741,1075.006836,717.232178,1,816.0,1200.0
6508,zzhe6767.jpg,NaN,NaN,NaN,NaN,NaN,0,555.0,986.0
6509,zzipq9zn.jpg,NaN,NaN,NaN,NaN,NaN,0,300.0,463.0
6510,zzvom0ax.jpg,0.711966,0.000822,369.854126,1447.335327,984.154907,1,1080.0,1623.0

In [13]:
data['S']=data['height']*data['width']
data['X']=data['x2']-data['x1']
data['Y']=data['y2']-data['y1']
data['Spotholes']=data['X']*data['Y']
data['Spotholes/S']=data['Spotholes']/data['S']*100
data

,fnames,置信度,x1,y1,x2,y2,Npotholes,height,width,S,X,Y,Spotholes,Spotholes/S
0,00c9sdfq.jpg,0.783255,54.144627,119.418549,127.293488,149.223495,2,259.0,194.0,50246.0,73.148865,29.804947,2180.197998,4.339048
1,00c9sdfq.jpg,0.727551,86.166367,92.886162,143.883499,117.423920,2,259.0,194.0,50246.0,57.717133,24.537758,1416.249023,2.818630
2,00yf8rxj.jpg,0.685144,0.000000,268.575745,714.198425,439.384949,1,450.0,800.0,360000.0,714.198425,170.809204,121991.664062,33.886573
3,01lx7dej.jpg,0.345122,723.983704,628.620300,1671.653564,1621.744507,1,3264.0,2448.0,7990272.0,947.669861,993.124207,941153.875000,11.778746
4,01paoyy0.jpg,0.447922,62.188206,54.767998,338.213837,239.532608,1,300.0,447.0,134100.0,276.025635,184.764618,50999.769531,38.031148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6506,zynixpux.jpg,0.266729,55.626934,116.560684,126.989532,136.572723,3,300.0,481.0,144300.0,71.362595,20.012039,1428.111084,0.989682
6507,zyylqfs0.jpg,0.829763,645.354004,481.915741,1075.006836,717.232178,1,816.0,1200.0,979200.0,429.652832,235.316437,101104.375000,10.325202
6508,zzhe6767.jpg,NaN,NaN,NaN,NaN,NaN,0,555.0,986.0,547230.0,NaN,NaN,NaN,NaN
6509,zzipq9zn.jpg,NaN,NaN,NaN,NaN,NaN,0,300.0,463.0,138900.0,NaN,NaN,NaN,NaN
6510,zzvom0ax.jpg,0.711966,0.000822,369.854126,1447.335327,984.154907,1,1080.0,1623.0,1752840.0,1447.334473,614.300781,889098.687500,50.723323

In [14]:
data['Spotholes/S']=data['Spotholes/S'].fillna(data['Spotholes/S'].mean())
data['Spotholes/S']=data['Spotholes/S'].apply(np.ceil)
data['Spotholes/S']=data['Spotholes/S'].astype('int')
data

,fnames,置信度,x1,y1,x2,y2,Npotholes,height,width,S,X,Y,Spotholes,Spotholes/S
0,00c9sdfq.jpg,0.783255,54.144627,119.418549,127.293488,149.223495,2,259.0,194.0,50246.0,73.148865,29.804947,2180.197998,5
1,00c9sdfq.jpg,0.727551,86.166367,92.886162,143.883499,117.423920,2,259.0,194.0,50246.0,57.717133,24.537758,1416.249023,3
2,00yf8rxj.jpg,0.685144,0.000000,268.575745,714.198425,439.384949,1,450.0,800.0,360000.0,714.198425,170.809204,121991.664062,34
3,01lx7dej.jpg,0.345122,723.983704,628.620300,1671.653564,1621.744507,1,3264.0,2448.0,7990272.0,947.669861,993.124207,941153.875000,12
4,01paoyy0.jpg,0.447922,62.188206,54.767998,338.213837,239.532608,1,300.0,447.0,134100.0,276.025635,184.764618,50999.769531,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6506,zynixpux.jpg,0.266729,55.626934,116.560684,126.989532,136.572723,3,300.0,481.0,144300.0,71.362595,20.012039,1428.111084,1
6507,zyylqfs0.jpg,0.829763,645.354004,481.915741,1075.006836,717.232178,1,816.0,1200.0,979200.0,429.652832,235.316437,101104.375000,11
6508,zzhe6767.jpg,NaN,NaN,NaN,NaN,NaN,0,555.0,986.0,547230.0,NaN,NaN,NaN,15
6509,zzipq9zn.jpg,NaN,NaN,NaN,NaN,NaN,0,300.0,463.0,138900.0,NaN,NaN,NaN,15
6510,zzvom0ax.jpg,0.711966,0.000822,369.854126,1447.335327,984.154907,1,1080.0,1623.0,1752840.0,1447.334473,614.300781,889098.687500,51

In [15]:
dataNew=data.groupby('fnames').apply(lambda x:x.loc[x['Spotholes/S'].idxmax()])
dataNew

,fnames,置信度,x1,y1,x2,y2,Npotholes,height,width,S,X,Y,Spotholes,Spotholes/S
fnames,,,,,,,,,,,,,,
00c9sdfq.jpg,00c9sdfq.jpg,0.783255,54.144627,119.418549,127.293488,149.223495,2,259.0,194.0,50246.0,73.148865,29.804947,2180.197998,5
00yf8rxj.jpg,00yf8rxj.jpg,0.685144,0.000000,268.575745,714.198425,439.384949,1,450.0,800.0,360000.0,714.198425,170.809204,121991.664062,34
01lx7dej.jpg,01lx7dej.jpg,0.345122,723.983704,628.620300,1671.653564,1621.744507,1,3264.0,2448.0,7990272.0,947.669861,993.124207,941153.875000,12
01paoyy0.jpg,01paoyy0.jpg,0.447922,62.188206,54.767998,338.213837,239.532608,1,300.0,447.0,134100.0,276.025635,184.764618,50999.769531,39
02oxhx7t.jpg,02oxhx7t.jpg,0.557707,193.065582,126.216133,359.589722,227.622604,1,240.0,420.0,100800.0,166.524139,101.406471,16886.625000,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zynixpux.jpg,zynixpux.jpg,0.728894,148.958481,93.340202,351.673981,133.142395,3,300.0,481.0,144300.0,202.715500,39.802193,8068.521484,6
zyylqfs0.jpg,zyylqfs0.jpg,0.829763,645.354004,481.915741,1075.006836,717.232178,1,816.0,1200.0,979200.0,429.652832,235.316437,101104.375000,11
zzhe6767.jpg,zzhe6767.jpg,NaN,NaN,NaN,NaN,NaN,0,555.0,986.0,547230.0,NaN,NaN,NaN,15
zzipq9zn.jpg,zzipq9zn.jpg,NaN,NaN,NaN,NaN,NaN,0,300.0,463.0,138900.0,NaN,NaN,NaN,15
zzvom0ax.jpg,zzvom0ax.jpg,0.711966,0.000822,369.854126,1447.335327,984.154907,1,1080.0,1623.0,1752840.0,1447.334473,614.300781,889098.687500,51

In [16]:
dataNew=dataNew.reset_index(drop=True)
dataNew

,fnames,置信度,x1,y1,x2,y2,Npotholes,height,width,S,X,Y,Spotholes,Spotholes/S
0,00c9sdfq.jpg,0.783255,54.144627,119.418549,127.293488,149.223495,2,259.0,194.0,50246.0,73.148865,29.804947,2180.197998,5
1,00yf8rxj.jpg,0.685144,0.000000,268.575745,714.198425,439.384949,1,450.0,800.0,360000.0,714.198425,170.809204,121991.664062,34
2,01lx7dej.jpg,0.345122,723.983704,628.620300,1671.653564,1621.744507,1,3264.0,2448.0,7990272.0,947.669861,993.124207,941153.875000,12
3,01paoyy0.jpg,0.447922,62.188206,54.767998,338.213837,239.532608,1,300.0,447.0,134100.0,276.025635,184.764618,50999.769531,39
4,02oxhx7t.jpg,0.557707,193.065582,126.216133,359.589722,227.622604,1,240.0,420.0,100800.0,166.524139,101.406471,16886.625000,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,zynixpux.jpg,0.728894,148.958481,93.340202,351.673981,133.142395,3,300.0,481.0,144300.0,202.715500,39.802193,8068.521484,6
3941,zyylqfs0.jpg,0.829763,645.354004,481.915741,1075.006836,717.232178,1,816.0,1200.0,979200.0,429.652832,235.316437,101104.375000,11
3942,zzhe6767.jpg,NaN,NaN,NaN,NaN,NaN,0,555.0,986.0,547230.0,NaN,NaN,NaN,15
3943,zzipq9zn.jpg,NaN,NaN,NaN,NaN,NaN,0,300.0,463.0,138900.0,NaN,NaN,NaN,15
3944,zzvom0ax.jpg,0.711966,0.000822,369.854126,1447.335327,984.154907,1,1080.0,1623.0,1752840.0,1447.334473,614.300781,889098.687500,51

In [17]:
dataR=pd.read_csv('未知数据集预测效果.csv')
dataR=dataR.drop(['imgType','label','isTrue'],axis=1)
dataR

            fnames  imgClass
0     00aqq56m.jpg    normal
1     00jjy9i3.jpg    normal
2     00q3q8py.jpg    normal
3     01jyy8yk.jpg    normal
4     02f4ee5p.jpg    normal
...            ...       ...
4937  zynixpux.jpg  potholes
4938  zyylqfs0.jpg  potholes
4939  zzhe6767.jpg  potholes
4940  zzipq9zn.jpg  potholes
4941  zzvom0ax.jpg  potholes

[4942 rows x 2 columns]

In [18]:
Results=pd.merge(dataR,dataNew,on='fnames',how='left')
Results

,fnames,imgClass,置信度,x1,y1,x2,y2,Npotholes,height,width,S,X,Y,Spotholes,Spotholes/S
0,00aqq56m.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00jjy9i3.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00q3q8py.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01jyy8yk.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,02f4ee5p.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4937,zynixpux.jpg,potholes,0.728894,148.958481,93.340202,351.673981,133.142395,3.0,300.0,481.0,144300.0,202.715500,39.802193,8068.521484,6.0
4938,zyylqfs0.jpg,potholes,0.829763,645.354004,481.915741,1075.006836,717.232178,1.0,816.0,1200.0,979200.0,429.652832,235.316437,101104.375000,11.0
4939,zzhe6767.jpg,potholes,NaN,NaN,NaN,NaN,NaN,0.0,555.0,986.0,547230.0,NaN,NaN,NaN,15.0
4940,zzipq9zn.jpg,potholes,NaN,NaN,NaN,NaN,NaN,0.0,300.0,463.0,138900.0,NaN,NaN,NaN,15.0
4941,zzvom0ax.jpg,potholes,0.711966,0.000822,369.854126,1447.335327,984.154907,1.0,1080.0,1623.0,1752840.0,1447.334473,614.300781,889098.687500,51.0

In [19]:
# 修改guy7iodk.jpg行，height=1587，width=1200，S=1587*1200=1904400，Spotholes=954792，Spotholes/S=50
Results.loc[Results['fnames']=='guy7iodk.jpg','height']=1587
Results.loc[Results['fnames']=='guy7iodk.jpg','width']=1200
Results.loc[Results['fnames']=='guy7iodk.jpg','S']=1904400
Results.loc[Results['fnames']=='guy7iodk.jpg','Spotholes']=954792
Results.loc[Results['fnames']=='guy7iodk.jpg','Spotholes/S']=50
Results

,fnames,imgClass,置信度,x1,y1,x2,y2,Npotholes,height,width,S,X,Y,Spotholes,Spotholes/S
0,00aqq56m.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00jjy9i3.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00q3q8py.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01jyy8yk.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,02f4ee5p.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4937,zynixpux.jpg,potholes,0.728894,148.958481,93.340202,351.673981,133.142395,3.0,300.0,481.0,144300.0,202.715500,39.802193,8068.521484,6.0
4938,zyylqfs0.jpg,potholes,0.829763,645.354004,481.915741,1075.006836,717.232178,1.0,816.0,1200.0,979200.0,429.652832,235.316437,101104.375000,11.0
4939,zzhe6767.jpg,potholes,NaN,NaN,NaN,NaN,NaN,0.0,555.0,986.0,547230.0,NaN,NaN,NaN,15.0
4940,zzipq9zn.jpg,potholes,NaN,NaN,NaN,NaN,NaN,0.0,300.0,463.0,138900.0,NaN,NaN,NaN,15.0
4941,zzvom0ax.jpg,potholes,0.711966,0.000822,369.854126,1447.335327,984.154907,1.0,1080.0,1623.0,1752840.0,1447.334473,614.300781,889098.687500,51.0

In [20]:
Results.loc[Results['imgClass']=='normal','Spotholes/S']=0
Results

,fnames,imgClass,置信度,x1,y1,x2,y2,Npotholes,height,width,S,X,Y,Spotholes,Spotholes/S
0,00aqq56m.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,00jjy9i3.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,00q3q8py.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,01jyy8yk.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,02f4ee5p.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4937,zynixpux.jpg,potholes,0.728894,148.958481,93.340202,351.673981,133.142395,3.0,300.0,481.0,144300.0,202.715500,39.802193,8068.521484,6.0
4938,zyylqfs0.jpg,potholes,0.829763,645.354004,481.915741,1075.006836,717.232178,1.0,816.0,1200.0,979200.0,429.652832,235.316437,101104.375000,11.0
4939,zzhe6767.jpg,potholes,NaN,NaN,NaN,NaN,NaN,0.0,555.0,986.0,547230.0,NaN,NaN,NaN,15.0
4940,zzipq9zn.jpg,potholes,NaN,NaN,NaN,NaN,NaN,0.0,300.0,463.0,138900.0,NaN,NaN,NaN,15.0
4941,zzvom0ax.jpg,potholes,0.711966,0.000822,369.854126,1447.335327,984.154907,1.0,1080.0,1623.0,1752840.0,1447.334473,614.300781,889098.687500,51.0

In [21]:
Results['Spotholes/S']=Results['Spotholes/S'].astype('int')
Results

,fnames,imgClass,置信度,x1,y1,x2,y2,Npotholes,height,width,S,X,Y,Spotholes,Spotholes/S
0,00aqq56m.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,00jjy9i3.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,00q3q8py.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,01jyy8yk.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,02f4ee5p.jpg,normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4937,zynixpux.jpg,potholes,0.728894,148.958481,93.340202,351.673981,133.142395,3.0,300.0,481.0,144300.0,202.715500,39.802193,8068.521484,6
4938,zyylqfs0.jpg,potholes,0.829763,645.354004,481.915741,1075.006836,717.232178,1.0,816.0,1200.0,979200.0,429.652832,235.316437,101104.375000,11
4939,zzhe6767.jpg,potholes,NaN,NaN,NaN,NaN,NaN,0.0,555.0,986.0,547230.0,NaN,NaN,NaN,15
4940,zzipq9zn.jpg,potholes,NaN,NaN,NaN,NaN,NaN,0.0,300.0,463.0,138900.0,NaN,NaN,NaN,15
4941,zzvom0ax.jpg,potholes,0.711966,0.000822,369.854126,1447.335327,984.154907,1.0,1080.0,1623.0,1752840.0,1447.334473,614.300781,889098.687500,51

In [22]:
Results.to_csv('SpotholesS.csv',index=False)